* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.container .sign-up {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 40rem;
  margin: 0 auto;
}

.container .sign-up .big-text {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.container .sign-up .small-text {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 2.5rem 0;
}

.container .sign-up p {
  margin-top: 2rem;
}

.container .sign-up .pass {
  margin-top: .8rem;
  opacity: 0.6;
}

.container .sign-up div select {
  border: 0;
  width: 35.1rem;
  opacity: 0.6;
  font-size: 1.25rem;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container .sign-up div {
  display: block;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: .3rem;
  border: 0.1rem solid #0e0e0e0f;
  font-size: 1.25rem;
  outline: 0;
  position: relative;
  z-index: 1000;
}

input {
  border: none;
  outline: 0;
  width: 35.1rem;
}

.success, .error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}

button {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: .3rem;
  border: 0.1rem solid #0e0e0e0f;
  opacity: 0.8;
  font-size: 1.25rem;
  background-color: rgb(40, 110, 250);
  color: white;
  cursor: pointer;
}

input:focus+label,
input:not(:placeholder-shown)+label {
  opacity: .6;
  padding: 1rem;
  background-color: white;
  transform: scale(.85) translateY(-50%) translateX(-2rem);
}

.is-invalid {
  color: red;
}

/*.invalid-feedback {
  font-size: 0.5rem;
  color: red;
  border: none;
}*/

button:focus {
  background-color: #ededed;
  color: #aaaaaa;
  outline: 0;
}

label {
  position: absolute;
  color: black;
  z-index: 500;
  left: 1.7rem;
  bottom: 1.3rem;
  cursor: text;
  pointer-events: none;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.7;
}

.hint {
  display: block;
  padding: .6rem;
  opacity: 0.7
}

i {
  color: #111;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.9;
}

.stages {
  width: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 2.5rem;
}

.stages h4 {
  padding-top: 0.4rem;
  font-size: 1.1rem;
}

.stages .dots {
  font-size: 2rem;
}

.sidecont {
  background-color: rgb(40, 110, 250);
  color: white;
  flex-basis: 50rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10rem;
  line-height: 2.7rem;
  text-align: center;
}

.sidecont h1 {
  font-size: 2.5rem;
  padding-bottom: 4rem;
}

.sidecont p {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: left;
}

.container .sign-up a {
  font-weight: 600;
  color: rgb(40, 110, 250);
}
